body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #c0884969;
}

header, footer {
    background-color: #343a40; /* Slightly lighter than black for contrast */
    color: #ffffff;
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

p {
    font-size: 18px;
}

h2 {
    font-size: 40px;
    font-style:italic;
    margin-top: 20px;
    margin-bottom: 0;
    text-align: left;
}

h3 {
    font-size: 28px;
    text-align: left;
    margin-bottom: 35px;
}

.event {
    margin:auto;
    padding-right: 540px;
}

.intro {
    border-left: 10px solid #1e5184;
    padding-left: 15px;
    margin-top: 25px;
    margin-left: 80px;
    margin-bottom: 40px; /* Add some space between the welcome section and buttons */
}

info {
    display: flex;
}

.buttons-section button {
    background-color: #ff4500; /* Exciting orange */
    border: none;
    border-radius: 30px; /* More pronounced round edges */
    color: #ffffff;
    cursor: pointer;
    font-size: 20px; /* Larger font size */
    font-weight: bold;
    margin: 15px;
    padding: 20px 40px; /* Larger buttons */
    transition: transform 0.2s; /* Smooth transform effect on hover */
}

.buttons-section button:hover {
    transform: scale(1.1); /* Slightly enlarge buttons on hover */
    background-color: #ff6347; /* Tomato color for hover state */
}

footer {
    background-color: #343a40;
    color: #ffffff;
    text-align: center;
    padding: 1em;
}


.slider-container {
    position: relative;
    max-width: 800px; /* Adjust based on your needs */
    margin: auto;
    overflow: hidden;
    border: 3.5px solid #65250087;
    border-radius: 15px;
    background-color: #ddd;
}

.slider {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    min-width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    height: 300px; /* Adjust based on your needs */
    padding-left: 8px;
    display: block;
    text-decoration: none;
}

.slider-nav {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.nav-btn {
    cursor: pointer;
    padding: 4px;
    margin: 0 4px;
    background-color: #343a40;
    border: 1px solid #ddd;
    border-radius: 50%;
}
.slide-text {
    color: #000000; /* White text color for visibility */
    font-size: 20px; /* Larger font size for readability */
    padding-left: 50px; /* Padding inside the slide for spacing */
    padding-right: 50px;
    text-align: left; /* Center-align the text */
    text-decoration: none;
}
.slide-h {
    color: #000000; /* White text color for visibility */
    font-size: 36px; /* Larger font size for readability */
    padding: 6px; /* Padding inside the slide for spacing */
    text-align: center; /* Center-align the text */
    margin-bottom: 2px;
}

.slide-date {
    
    background-color: #ff4500;
    color:#ddd;
    position: absolute; /* Needed for absolute positioning of the date box */
    top: 75%;
    left: 85%;
    transform: translate(-50%, -50%); /* Centering technique */
    max-width: 90%;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    height: 65px; /* Adjust based on your needs */
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: bold;
    line-height: 25px;
    text-align: center;
    justify-content: center; /* Helps push the date box to the bottom */
    padding: 1px 14px;
}
