body {
    font-family: Arial, sans-serif;
    margin: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.site-name {
    font-size: 18px; /* Smaller than on the homepage */
    font-weight: normal;
    position: absolute; /* Move to the top-left corner */
    left: 20px;
    top: 18px;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    /* Ensures h1 stays centered without explicitly setting its position */
    flex-grow: 1;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
    position: absolute;
    right: 20px;
    top: 18px;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.main {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align columns to the top */
    flex-wrap: wrap; /* Ensure responsiveness */
    margin: 25px 0;
}

.columns {
    display: flex;
    justify-content: center;
    margin: 20px;
    border-left: 2px solid #ddd; /* Vertical line on the left of the first column */
}

.column {
    flex: 1;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center buttons */
    padding: 0 20px;
}

.column:not(:first-child) {
    border-left: 4px solid #ddd; /* Vertical line between columns */
}

.column h3 {
    text-align: center;
    color: #005ec0; /* Maintaining vibrant color theme */
}

.column a.button {
    display: inline-block;
    background-color: #cc7322fc; /* Vibrant orange, as on the homepage */
    border: none;
    border-radius: 20px; /* Round edges */
    color: #ffffff;
    cursor: pointer;
    text-align: center;
    font-size: 18px; /* Increased font size for better readability */
    margin: 10px 0; /* Maintain equal vertical space */
    padding: 15px 30px; /* Increased padding for larger buttons */
    width: 40%; /* Buttons take width of the column */
    text-decoration: none; /* Removes underline from links */
    transition: background-color 0.3s;
}

.column b.button {
    display: inline-block;
    background-color: #cc7322fc; /* Vibrant orange, as on the homepage */
    border: none;
    border-radius: 20px; /* Round edges */
    color: #ffffff;
    cursor: pointer;
    text-align: center;
    font-size: 18px; /* Increased font size for better readability */
    margin: 14px 0; /* Maintain equal vertical space */
    padding: 15px 30px; /* Increased padding for larger buttons */
    width: 40%; /* Buttons take width of the column */
    text-decoration: none; /* Removes underline from links */
    transition: background-color 0.3s;
}

.buttons-section c.button {
    display: inline-block;
    background-color: #174b83; /* Vibrant orange, as on the homepage */
    border: none;
    border-radius: 20px; /* Round edges */
    color: #ffffff;
    cursor: pointer;
    text-align: center;
    font-size: 18px; /* Increased font size for better readability */
    margin: auto;
    padding: 15px 20px; /* Increased padding for larger buttons */
    text-decoration: none; /* Removes underline from links */
    transition: background-color 0.3s;
}

.column a.button:hover {
    background-color: #c94700; 
}

.column b.button:hover {
    background-color: #c94700; 
}

.buttons-section c.button:hover {
    background-color: #011b6f; 
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 2em;
    margin-top: auto; /* Push footer to the bottom */
}
